body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;  
}

#logo {
    
}

#logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    max-height: 100px;
}

#header ul {
    list-style-type: none;
    background-color: blue;
    color: #fff;
    height: 50px;
    width: 100%;
}

#header ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
}

select {
    font-size: 16pt;
}

#sel-repo {
    width: 580px;
}

a { 
    color: #FFF; 
    text-decoration: none;
}

#content {
   margin-left:20px;
}

h1 {
    font-size: 18pt;
    font-weight: bold;
    color: blue;
}

h2 {
    font-size: 16pt;
    background-color: #ccc;
    width: 100%;
    padding: 4px;
}

#path {
    border: 2px solid blue;
    margin-bottom:30px;
    border-radius: 8px;
}

#path span {
    margin-left: 20px;
}

#path ul {
    display: inline-block;
    list-style-type: none;
}

#path ul li {
    display: inline-block;
}

table {
    width: 75%;
    font-size: 14pt;
}

th, td {
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

#options {
    position: fixed;
    right: 10px;
    width: 15%;
    border: 2px solid blue;
    padding: 8px;
    top: 340px;
    border-radius: 8px;
}

.ui-dialog-titlebar {
    background-color: blue;
    color: white;
    
}

.ui-dialog {
    background-color: white;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ui-dialog-titlebar-close {display: none }

.ui-dialog-content {
    padding: 11px;
    text-align: center;
}

.ui-button, #inpFileSelector::file-selector-button{
    background-color: blue;
    color: white;
    font-weight: bold;
    min-width: 60px;
    min-height: 30px;
    margin-right: 8px;
    margin-bottom: 4px;
}


#divAdminUserlist {
    display: inline-block;
    border: 1px solid blue;
    width: 18%;
    margin-right: 8px;
    vertical-align:top;
}

#divAdminUserlist li {
    list-style-type:none;
}

#divAdminUserlist li a {
    color: #333;
}


#divAdminUserDetails {
    display: inline-block;
    border: 1px solid blue;
    width: 75%;
    padding:20px;
    vertical-align:top;
    display:none;
}

#frmUserDetails label {
    width:220px;
    line-height: 2;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
}

#divAdminUserAccess ul li {
    list-style-type:none;
    font-weight: bold;
    line-height: 2;
}

#divAdminUserAccess ul li ul li {
    list-style-type: none;
    padding-bottom: 12px;
    font-weight: normal;
}
.sel-access {
    margin-left:2em;
    width:110px;
}

input[type=text] {
    width:284px;
}

.span-saved {
    color: green;
    font-weight: bold;
    margin-left:2em;
}